@model testeMysql.Models.Sumario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Sumario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSumario" />
            <div class="form-group">
                <label asp-for="Sumario1" class="control-label"></label>
                <input asp-for="Sumario1" class="form-control" />
                <span asp-validation-for="Sumario1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disciplina" class="control-label"></label>
                <input asp-for="Disciplina" class="form-control" />
                <span asp-validation-for="Disciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunosPresentes" class="control-label"></label>
                <input asp-for="AlunosPresentes" class="form-control" />
                <span asp-validation-for="AlunosPresentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlunosFalta" class="control-label"></label>
                <input asp-for="AlunosFalta" class="form-control" />
                <span asp-validation-for="AlunosFalta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

